
@media (max-width:480px) {
    html{
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./images/background.jpg);
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    *{
        padding: 0;
        margin: 0;
    }

    body{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .firstPage{
        width: 100%;
        height: 100%;
        z-index: -100;
    }

    /* 헤더 */
    header {
        width: 100%;
        height: 40px;
    }

    #wrap {
        opacity: 0;
    }

    /* 햄버거메뉴 */
    .hamburger{
        width: 30px;
        height: 20px;
        padding: 10px 0 0 10px;
        float: left;
    }
    .center {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
    input[id="menuicon"] {
        display:none;
        position: absolute;
    }
    input[id="menuicon"] + label {
        display:block;
        width:30px;
        height:20px;
        position:relative;
        cursor:pointer;
        z-index: 200;
    }
    input[id="menuicon"] + label span {
        display:block;
        position:absolute;
        width:100%;
        height:2px;
        border-radius:30px;
        background:white;
        transition:all .35s;
    }
    input[id="menuicon"] + label span:nth-child(1) {
        top:0;
    }
    input[id="menuicon"] + label span:nth-child(2) {
        top:50%;transform:translateY(-50%);
    }
    input[id="menuicon"] + label span:nth-child(3) {
        bottom:0;
    }
    input[id="menuicon"]:checked + label span:nth-child(1) {
        top:50%;transform:translateY(-50%) rotate(45deg);
    }
    input[id="menuicon"]:checked + label span:nth-child(2) {
        opacity:0;
    }
    input[id="menuicon"]:checked + label span:nth-child(3) {
        bottom:50%;transform:translateY(50%) rotate(-45deg);
    }   
    /* 햄버거메뉴 */
    .sub_manu {
        width: 60%;
        height: 100%;
        position: absolute;
        right: 100%;
        background-color: rgb(70, 69, 69);
        z-index: 150;
    }

    #profile {
        width: 100px;
        position: absolute;
        left: 50px;
        top: 50px;
    }

    .all_pay {
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: darkgrey;
        top: 190px;
        text-align: center;
    }

    .text {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 20%;
    }

    .all_pay > .text > p {
        float: left;
        font-size: 20px;
        color: white;
        font-family: 'Nanum Gothic', sans-serif;
    }

    #money {
        color: orange;
    }

    #svs {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 250px;
    }

    #add {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 470px;
    }

    #op_btn {
        width: 90%;
        position: absolute;
        left: 5%;
        top: 520px;
    }

    .sub_wrap {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0%;
        opacity: 0;
        background-color: black;
        z-index: 90;
    }

    /* 알람아이콘 */
    #alarm {
        width: 26px;
        height: 28px;
        padding: 5px 5px 0 0;
        float: right;
    }

    /* 비주얼페이지 */
    #visual {
        width: 100%;
        height: 210px;
        position: relative;
        overflow: hidden;
        z-index: 100;
    }
    /* 슬라이드 아이콘 */
    .swiper-container {
        width: 100%;
        height: 150px;
    }

    .swiper-wrapper {
        width: 200%;
        margin: 0 auto;
    }

    .swiper-slide {
        float: left;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    #netflix {
        width: 115px;
        margin-top: 20px;
        float: left;
    }
    
    #whtcha {
        padding: 45px 0 0 40px;
        float: left;
    }

    #twitch {
        width: 55px;
        margin-top: 20px;
        float: left;
    }

    .icon_text {
        margin: 0 auto;
        width: 70%;
        height: 60px;
        border-bottom: 0.05px solid rgb(116, 116, 116);
        opacity: .6;
    }

    #netflix_text {
        position: absolute;
        width: 40%;
        height: 50px;
        left: 30%;
        padding-top: 5px;
        opacity: 1;
    }

    #whtcha_text {
        position: absolute;
        width: 50%;
        left: 25%;
        padding-top: -50px;
        opacity: 0;
    }

    #twitch_text {
        position: absolute;
        width: 40%;
        height: 50px;
        left: 30%;
        padding-top: 5px;
        opacity: 0;
    }

    #content_netflix {
        width: 100%;
        height: 400px;
        position: relative;
    }

    #pay_netflix {
        width: 100%;
        height: 130px;
        padding: 10px 0 0 10%;
    }

    #time_netflix {
        width: 90%;
        height: 120px;
        margin-left: 5%;
        margin-top: 20px;
    }

    #graph_netflix {
        width: 90%;
        height: 450px;
        margin: 0 auto;
        margin-left: 5%;
        margin-top: 40px;
    }

    #content_whtcha {
        width: 100%;
        height: 400px;
        position: relative;
        opacity: 0;
        display: none;
    }

    #pay_whtcha {
        width: 100%;
        height: 130px;
        padding: 10px 0 0 10%;
    }

    #time_whtcha {
        width: 90%;
        height: 120px;
        margin-left: 5%;
        margin-top: 20px;
    }

    #graph_whtcha {
        width: 90%;
        height: 450px;
        margin: 0 auto;
        margin-left: 5%;
        margin-top: 40px;
    }

    #content_twitch {
        width: 100%;
        height: 400px;
        position: relative;
        opacity: 0;
    }

    #pay_twitch {
        width: 100%;
        height: 130px;
        padding: 10px 0 0 10%;
    }

    #time_twitch {
        width: 90%;
        height: 100px;
        margin-left: 5%;
        margin-top: 20px;
    } 

    #graph_twitch {
        width: 90%;
        height: 275px;
        margin: 0 auto;
        margin-left: 5%;
        margin-top: 40px;
    }

    /* 옵션 */

    .dark_wrap{
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .2;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: -1;
    }


    .opction {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        background-image: url(./images/opction_background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 50;
    }

    .opction_dark_1 {
        width: 100%;
        height: 50px;
        background-color: rgb(70, 69, 69);
        opacity: .7;
    }

    .opction_dark_2 {
        width: 100%;
        height: 50px;
        background-color: rgb(70, 69, 69);
        opacity: .7;
        margin-top: 10px;
    }
    
    .opction_dark_3 {
        width: 100%;
        height: 50px;
        background-color: rgb(70, 69, 69);
        opacity: .7;
        margin-top: 10px;
    }

    #set {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 14px;
        left: 10px;
        float: left;
    }

    #x {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 14px;
        left: 90%;
    }

    #set_text_1 {
        position: absolute;
        width: 50px;
        height: 20px;
        top: 14px;
        left: 35px;
        font-size: 18px;
        font-weight: 300;
        float: left;
    }

    #set_text_2 {
        position: absolute;
        width: 90%;
        height: 12px;
        top: 165px;
        left: 35px;
        font-size: 18px;
        font-weight: 300;
        float: left;
        border-left: 1px solid gray;
        padding: 0 0 10px 10px;
    }

    #set_text_3 {
        position: absolute;
        width: 90%;
        height: 18px;
        top: 405px;
        left: 35px;
        font-size: 20px;
        font-weight: 300;
        float: left;
    }

    #right {
        float: right;
    }

    #arrow {
        float: right;
        width: 10px;
        height: 15px;
    } 

    #arrow_point {
        float: right;
        width: 10px;
        height: 15px;
    }

    #ooo {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 400px;
        float: left;
    }
    
    .box {
        width: 83%;
        margin: 0 auto;
        height: 30px;
        padding: 4% 0 0 10px;
        border-bottom:1px solid gray;
        position: relative;
    }

    .box > p {
        font-size: 16px;
        color: white;
        font-family: 'Nanum Gothic', sans-serif;
        float: left;
    }

    .toggle {
        position: absolute;
        right: 0;
        top: 30%;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
        vertical-align:middle;
    }
    
    /* Hide default HTML checkbox */
    .switch input {display:none;}
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* background-color: white; */
        -webkit-transition: .4s;
        transition: .4s;
        background-color: white;  
    }
    
    .sw_1:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        bottom: -2px;
        left: -5px;
        background-color: skyblue;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .sw_2:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        bottom: -2px;
        left: -5px;
        background-color: red;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .sw_1 {
        background-color: white;  
    }
    
    input:focus + .sw_1 {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

    #add_page {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        background-image: url(./images/add_background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 150;
        display: none;
    }

    #svs_manu {
        width: 90%;
        position: absolute;
        top: 4%;
        left: 5%;
    }

    #input {
        width: 80%;
        position: absolute;
        top: 8%;
        left: 10%;
    }

    p{
        position:relative;  
    }
    
    #checkboxArea > input[type="checkbox"]{
        width:1px; 
        height:1px; 
        padding:0; 
        border:0 none; 
        margin:0; 
        position:absolute; 
        left:0; 
        top:0; 
        overflow:hidden;
        clip:rect(0 0 0 0);
    }
      
    #checkboxArea > input[type="checkbox"]:checked + #checkboxArea{
        background-position: 0 -15px;
    }

    #checkboxArea {
        width: 70%;
        height: 100%;
        position:absolute; 
        left:15%; 
        top:100px; 
    }

    #checkbox1, #checkbox2, #checkbox3 {
        width: 30px;
        height: 30px;
        position: absolute;
        left:-10%; 
    }

    #checkbox1 {
        position:absolute; 
        top:80px; 
    }

    #checkbox2 {
        position:absolute; 
        top:140px; 
    }

    #checkbox3 {
        position:absolute; 
        top:200px; 
    }

    #add_netflix {
        position:absolute; 
        width: 400px;
        top: 50px;
        float: left;
    }

    #add_whtcha {
        position:absolute; 
        width: 400px;
        top: 90px;
        left: 20px;
        float: left;
    }

    #add_twitch {
        position:absolute; 
        width: 170px;
        top: 190px;
        left: 20px;
        float: left;
    }
}